@media (max-width:1024px) {
	header {
		height: 150px;
	}
}
@media (max-width:480px) {
	header {
		height: 75px;
	}
	
	.aboutMeWrapper{
		flex-direction: column;
	}
	
	.contactWrapper {
		min-width: 0;
	}
}



/* Index Styling */


/********************** Navigation responsiveness **********************/






