  body { text-align: center; font-size: 100%;}
  body { font: 20px Helvetica, sans-serif; color: #333; background-color: #984B43; }
  article { display: block; text-align: center; margin: 0 auto; z-index: 1;}
  a { color: #0d3c71; text-decoration: none; }
  a:hover { color: #1fded3; text-decoration: none; }
  ul { list-style: none; }
  code {font-family: monospace; color: green; padding: 4px; font-weight: bold;}
  h2 {font-weight: bold; margin: 40px;}
  
  
  .forestContainer img {
	z-index: 1;
	height: 600px;
	max-width: 1000px;
  }

  .mainHeader {
	  font-family: 'Ubuntu Mono', monospace;
	  font-size: 3.75em;
	  color: #dc8100;
	  font-weight: bold;
	  margin: 20px;
	    
  }
  
  .introParagraph {
	  margin: 30px;
  }
  
  .pageWrapper {
	  max-width: 1400px;
	  margin-left: auto;
	  margin-right: auto;
	  background-color: #984B43;
  }
  
  /************************* Eloquent JS Page Styling ***************************/
  
  
  .eloquentIntroMainWrap {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-evenly;
	  align-items: baseline;
	  margin: 0 40px 0 0;
	  z-index: 1;
  }
  .eloquentIntroSubWrap {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: baseline;
	  width: 66%;
	  margin: 20px 40px 0 0;
  }
  
  .eloquentIntroSubWrap section {
	  margin: 40px auto 0 auto;
	  z-index: 1;
  }
  
  #qotdHeader {
	  margin: 30px 0 0 0;	  
  }
  
  #qotdStyle {
	  border-radius: 53px 27px 85px 87px / 18px 16px 25px 127px;
  }
  
  .eloquentIntroParagraph {
	  flex-grow: 2;
	  border: 4px solid black;
	  border-radius: 87px 85px 27px 53px / 127px 25px 16px 18px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  margin: 0 10px 0 0;
	  background-color: #dc8100;
	  color: white;
  }
  .eloquentIntroPSSection {
	  flex-grow: 1;
	  width: 34%;
	  border: 4px solid black;
	  border-radius: 85px 16px 106px 14px / 25px 26px 54px 14px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  margin: 0 10px 0 0;
	  background-color: #dc8100;
	  color: white;
	  z-index: 5;
  }
  
  .logoPic {
	  width: 75%;
	  height: 85%;
	  margin: 0 0 40px 0;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
  }
  
  .treehouseAd {
	  width: 75%;
	  height: 45%;
	  margin: 0 0 40px 0;
	  border: 4px solid black;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
  }
 
  
  .challengeTitle {
	  font-weight: bold;
	  padding: 0 0 15px 0;
	  color: black;
  }
  
  .strongHeader {
	  font-weight: bold;
  }
  
  .codeContainer {
	  text-align: left;
	  margin: 20px 20px 45px 20px;
	  background-image: url("images/Wrenches.png");
	  background-repeat: no-repeat;
	  background-position: 50% top; 
  }
  
  .codeSectionWrapper {
	  border: 4px solid black;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  margin: 40px 0 0 0;
	  background-color: #dc8100;
	  color: white;
	  padding: 25px;
	  
  }
 
  
  /************************* About Me Page Styling ***************************/
  
  .aboutMeWrapper {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-evenly;
	  align-items: center;
	  margin: 20px;
  }
  
  .aboutMeText {
	  margin: 20px;   
  }
  
  .aboutMeBackground {
	  margin: 40px 20px 40px 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  