  body { text-align: center; font-size: 100%; font: 20px Helvetica, sans-serif; color: #333; height: 100%; overflow: auto;}
  html {height: 100%;}
  article { display: block; text-align: center; margin: 0 auto; z-index: 1;}
  a { color: #0d3c71; text-decoration: none; }
  a:hover { color: #1fded3; text-decoration: none; }
  ul { list-style: none; padding: 0; margin: 0;}
  code {font-family: monospace; color: green; padding: 4px; font-weight: bold;}
  h2 {font-weight: bold; margin: 40px;}
  header {display: flex; background-image: url("images/header.png"); background-repeat: no-repeat; background-size: 100%; width: 100%; height: 250px;}
  footer {display: flex; justify-content: center; padding: 20px; height: 200px; width: 100%; background: none; position: relative; z-index: 3; align-items: justify-content; margin-top: 50px;}
  h1 {font-family: 'Permanent Marker', cursive; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; margin: 32px;}


  .pageWrapper {
	  max-width: 1390px;
	  margin-left: auto;
	  margin-right: auto;
	  display: hidden;
	  position: relative;
	  padding-bottom: 200px;
	  z-index: 3;
	  background: linear-gradient(to bottom right, #000000 -12%, #ffffff 86%); background-repeat: no-repeat;
  }
  
  .homePageWrapper {
	  max-width: 1390px;
	  margin-left: auto;
	  margin-right: auto;
	  display: hidden;
	  position: relative;
	  padding-bottom: 200px;
	  z-index: 3;
	  background: none;
  }
	
 
::-webkit-scrollbar {
    width: 14px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.8); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5); 
}


 /************************* Home Page Styling ***************************/
  
     
  #backgroundVideo {
	position: fixed;
    top: 50%; left: 50%;
    z-index: 2;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
	
	#homePageButton {
		padding: 20px;
		position: fixed;
		z-index: 2;
	}
	
  

  
  /************************* Navigation Styling ***************************/
  

  .sideNav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 900;
      top: 0;
      left: 0;
      background-image: url("images/woodbackground.jpg");
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s ease-in;
	  -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
	  color: #000000;
	  text-align: center;
}
  #overlay {
	  position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 899;
      cursor: pointer;
  }

/* The navigation menu links */
  .sideNav a {
      text-decoration: none;
	  font-family: 'Permanent Marker', cursive;
      font-size: 1.2em;
      color: white;
      display: block;
      transition: 0.5s;
	  -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
	  background-image: url("images/nav sign.png");
	  background-repeat: no-repeat;
	  background-size: cover;
	  -webkit-background-origin: border;
}

  #home, #contact, #about {
	padding: 108px 5px 48px;
}

  #sandbox {
	padding: 100px 5px 45px;
	font-size: 1.0em;
}

  #eloquent {
	padding: 95px 5px 45px;
	font-size: 1.0em;
	margin-bottom: 80px;
  }
  

/* When you mouse over the navigation links, change their color */
  .sideNav a:hover, .offcanvas a:focus{
      color: white;
	  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

/* Position and style the close button (top right corner) */
  .sideNav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 2.0em;
      margin-left: 35px;
	  background: none;
}

  #navHamburger {
	  display: block;
	  cursor: pointer;
	  width: 2.0em;
	  height: 2.0em;
	  margin: 25px 0 0 30px;
	  font-size: 1.5em;
	  font-weight: bold;
	  transition: background-color 0.5s, border-color 0.5s, color 0.5s, transform 1s;
	  -webkit-transition: background-color 0.5s, border-color 0.5s, color 0.5s, -webkit-transform 1s;
	  background-color: gray;
	  order: 1;
	  color: black;
	  border: 4px solid black;
	  border-radius: 15px;
	  padding: 5px 0 0 0;
  }
  
  #navHamburger:hover {
	  background-color: black;
	  border-color: white;
	  color: white;
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
  }
  
  /************************* Footer Styling ***************************/
  
  
  
  #footerSection1 {
	  order: 1;
	  width: 80%;
	  margin: 0 auto;
  }
  
  #footerSection2 {
	  order: 2;
	  width: 20%;
	  margin: 0 auto;
	  padding-top: 35px;
  }
  
  #footerSection2 img {
	  width: 80px;
	  height: 80px;
	  margin: 10px;
  }
  
  
  #footerSection2 img:hover {
	  opacity: .70;
  }
  
  
  
  
  
  
  
  
  /************************* Eloquent JS Page Styling ***************************/
  
  
  .introParagraph {
	  margin: 30px;
	  font-size: 1.0em;
  }
  
  
  .eloquentIntroMainWrap {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
	  align-items: baseline;
	  margin: 40px;
  }
  .eloquentIntroSubWrap {
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: baseline;
	  width: 66%;
  }
  
  #qotdHeader {
	  margin: 30px 0 0 0;	  
  }
  
  #qotdStyle {
	  border-radius: 53px 27px 85px 87px / 18px 16px 25px 127px;
	  margin: 10px 10px 0 0;
  }
  
  .eloquentIntroParagraph {
	  border: 4px solid black;
	  border-radius: 87px 85px 27px 53px / 127px 25px 16px 18px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  margin: 0 10px 0 0;
	  background-color: #dc8100;
	  color: white;
  }
  .eloquentIntroPSSection {
	  width: 34%;
	  border: 4px solid black;
	  border-radius: 85px 16px 106px 14px / 25px 26px 54px 14px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  background-color: #dc8100;
	  color: white;
  }
  
  .logoPic {
	  width: 75%;
	  height: 85%;
	  margin: 0 0 40px 0;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
  }
  
  .treehouseAd {
	  width: 75%;
	  height: 45%;
	  margin: 0 0 40px 0;
	  border: 4px solid black;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
  }
 
  
  .challengeTitle {
	  font-weight: bold;
	  padding: 0 0 15px 0;
	  color: black;
  }
  
  .strongHeader {
	  font-weight: bold;
  }
  
  .codeContainer {
	  text-align: left;
	  margin: 20px 20px 45px 20px;
	  background-image: url("images/Wrenches.png");
	  background-repeat: no-repeat;
	  background-position: 50% top;
  }
  
  .codeSectionWrapper {
	  border: 4px solid black;
	  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
	  margin: 40px;
	  background-color: #dc8100;
	  color: white;
	  padding: 25px;
	  
  }
 
  
  /************************* About Me Page Styling ***************************/
  
  .aboutMeWrapper {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-evenly;
	  align-items: center;
	  margin: 20px;
  }
  
  .aboutMeText {
	  margin: 20px;   
  }
  
  .aboutMeBackground {
	  margin: 40px 20px 40px 20px;
  }
  
   /********************** Javascript Sandbox Styling ************************/
  
  
  .sandBoxItem {
	  text-align: left;
	  margin: 30px 30px 0 30px;
	  color: white;
	  background-color: #dc8100;
	  font-size: 1.0em;
	  padding: 25px;
	  border: 4px solid black;
	  border-radius: 30px 30px 30px 30px;
	  box-shadow: inset 0 0 2em #984B43, 0px 20px 5px -8px #233237;
  }
  
  .sandBoxItem h3 {
	  font-weight: bold;
  }
 
  .buttonWrapper {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  flex-wrap: wrap;
  }
 
  #launchButton {
	  display: inline-block;
	  border-radius: 10px;
	  background-color: #4d4d4d;
	  border: none;
	  color: #f2f2f2;
	  text-align: center;
	  font-size: 28px;
	  width: 200px;
	  transition: all 0.5s;
	  cursor: pointer;
	  padding: 20px;
	  margin: 25px;
	  box-shadow: 0 9px #999;
  }
  
  #launchButton span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	  font-family: 'Lalezar', cursive;
  }
  
  #launchButton span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
  }
  
  #launchButton:hover span {
	  padding-right: 25px;
  }
  #launchButton:hover {
	  background-color: #333333;
  }
  
  #launchButton:hover span:after {
	  opacity: 1;
	  right: 0;
  } 
  #launchButton:active {
  background-color: #333333;
  box-shadow: 0 5px #39ac39;
  transform: translateY(4px);
}

  #launchButton:focus {
	  outline: 0;
  }
  
  .logoWrapper, .launchWrapper {
	  display: block;
	  text-align: center;
  }
  .logoWrapper {
	  margin-right: 35px;
  }
  
  .logoWrapper img {
	  border-radius: 10px;
  }
  
  .logoWrapper img:hover {
	  opacity: .70;
  }
  
  #codepenInfo {
	  font-size: 0.7em;
	  color: white;
	  margin: 0 0 5px 0;
  }
  
  /****************************Contact Page Styling ***************************/

.contactWrapper {
	padding: 25px;
	margin-bottom: 20px;
	width: 90%;
	max-width: 700px;
	background: #6ef;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 0 0 1em black;
}

.contactDisclaimer {
	font-size: 1.0em;
	font-family: Nunito, helvetica;
	font-weight: bold;
	padding: 10px 0;
	margin: 25px auto;
	color: #666;
	width: 90%;
	display: block;
	text-align: center;
}

.formContainer {
	margin: 0 auto;
}

.form-group {
	border: none;
	
}

.form-inline {
	border: none;
}

label {
	padding-right: 5px;
	font-family: Nunito, helvetica;
}

#submit, #clear {
	margin-right: 10px;
}
.buttonWrap {
	text-align: center;
	padding-top: 20px;
}
textarea.form-control {
	min-width: 100%;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  